.avatar-container{
    position: relative;
}

.user-avatar{
    width:80%;
    max-width: 240px;
    height:auto;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .user-avatar{
        max-width: 200px;
    }
}

#change-avatar-btn{
    visibility: hidden;
    width: 104px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right:0;
    margin: auto;
}

.avatar-container:hover .user-avatar{
    opacity: 0.4;
}

.avatar-container:hover #change-avatar-btn{
    visibility: visible;
}

#change-avatar-btn .icon{
    float:left;
}

#change-avatar-btn .btn-label{
    float:left;
    margin-left: 6px;
    line-height: 24px;
}