<div class="player-container" [@openState]="openState">
    <div class="row">
        <div class="col-lg-3 text-center">
            <img *ngIf="track && track.image" id="track-avatar-img" src="{{track.image.url}}"/>
            <h4 id="track-name">{{track?.name}}</h4>
            <h5 id="track-genre">{{track?.genre}}</h5>
        </div>
        <div class="col-lg-6 text-center">
            <div class="timeline">
                <div class="current-time">{{currentTimeString}}</div>
                <mat-slider
                    id="time-slider"
                    (mouseover)='timeSliderHover(false)'
                    (mouseleave)='timeSliderHover(true)'
                    min="0"
                    max="{{duration}}"
                    [value]="sliderValue"
                    (change)="changeTime($event.value)"
                    >
                </mat-slider>
                <div class="total-time">{{track ? durationString : '0:00'}}</div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="player-controls">
                <button type="button" class="control"><mat-icon class="control">skip_previous</mat-icon></button>
                <button type="button" class="control" *ngIf="isPlaying" (click)="pause()"><mat-icon class="control">pause</mat-icon></button>
                <button type="button" class="control" *ngIf="!isPlaying" (click)="resume()"><mat-icon class="control">play_arrow</mat-icon></button>
                <button type="button" class="control"><mat-icon class="control">skip_next</mat-icon></button>
                <div id="volume-container">
                    <button type="button" class="control" id="volume-button"><mat-icon class="control" id="volume-icon">volume_up</mat-icon></button>
                    <app-knob-slider
                            id="volume-knob"
                            [width]="40"
                            [height]="40"
                            [lineWidth]="3"
                            [strokeColor]="'#ffd740'"
                            (onKnobValueChanged)="onVolumeChanged($event)"
                    ></app-knob-slider>
                </div>
            </div>
        </div>
    </div>
</div>