h1,h2,h3,h4,h5,h6{
    color: #f8f8f8;
}

.player-container{
    position: fixed;
    width:100%;
    height: 90px;
    background-color: #222;
    border-top:2px solid #0e0e0e;
    bottom:0;
	color: #c1c1c1;
}

.player-controls{

}

.player-controls .control{
    background-color: transparent;
    border: none;
    padding:0;
    outline: none;
    margin: 17px 10px;
}

#time-slider{
    position:relative;
    width:85%;
    margin:22px 0;
    cursor: pointer;
}

.disable-thumb{
    visibility: hidden;
}

.timeline .current-time{
    position:relative;
    float:left;
    margin: 35px 0;
}

.timeline .total-time{
    position:relative;
    float: right;
    margin: 34px 0;
}

#track-name{
    padding-top:10px;
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

#track-genre{
    text-align: left;
    padding-top:5px;
    font-size: 14px;
    color: #9a9a9a;
}

#track-avatar-img{
    float:left;
    position: relative;
    margin: 15px 50px;
    height: 64px;
    width: 64px;
}

#volume-container{
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

#volume-button{
    position: relative;
    margin:0;
}

#volume-icon{
    margin: 8px;
}

#volume-knob{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#volume-container:hover #volume-knob{
    visibility: visible;
}

#volume-container:hover #volume-icon{
    opacity: 0;
}

.control{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.player-controls{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}