<div class="player-container" [@openState]="openState">
    <div class="row">
        <div class="col-lg-3 text-center">
            <img *ngIf="track && track.image" id="track-avatar-img" src="{{track.image.path}}"/>
            <h4 id="track-name">{{track?.name}}</h4>
            <h5 id="track-genre">{{track?.genre}}</h5>
        </div>
        <div class="col-lg-6 text-center">
            <div class="timeline">
                <div class="current-time">{{currentTimeString}}</div>
                <md-slider
                    id="time-slider"
                    (mouseover)='timeSliderHover(false)'
                    (mouseleave)='timeSliderHover(true)'
                    min="0"
                    max="{{duration}}"
                    [value]="sliderValue"
                    (change)="changeTime($event.value)"
                    >
                </md-slider>
                <div class="total-time">{{track ? durationString : '0:00'}}</div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="player-controls">
                <button type="button" class="control"><md-icon class="control">skip_previous</md-icon></button>
                <button type="button" class="control" *ngIf="isPlaying" (click)="pause()"><md-icon class="control">pause</md-icon></button>
                <button type="button" class="control" *ngIf="!isPlaying" (click)="resume()"><md-icon class="control">play_arrow</md-icon></button>
                <button type="button" class="control"><md-icon class="control">skip_next</md-icon></button>
            </div>
        </div>
    </div>
</div>