<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">{{appTitle}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNav" [ngbCollapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="popular" routerLinkActive="active">Popular</a></li>
        <li><a routerLink="my-tracks" routerLinkActive="active">My Tracks</a></li>
        <li><a routerLink="account" routerLinkActive="active">Account</a></li>
      </ul>
    </div>
  </div>
</nav>
