<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="home">
                <img src="../../../assets/images/logo.png">
                <span>{{appTitle}}</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNav" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="popular" routerLinkActive="active">Popular</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <app-search-tracks></app-search-tracks>
            </form>
            <div *ngIf="user; then user_menu else login_register"></div>
            <ng-template #user_menu>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ngbDropdown>
                        <div ngbDropdownToggle id="userMenu" href="#">
                            <div *ngIf="user.imageUrl" class="user-avatar-container">
                                <img class="user-avatar-img img-responsive" src="{{user.imageUrl}}"/>
                            </div>
                            {{user.name}}
                            <span class="caret"></span>
                        </div>
                        <ul ngbDropdownMenu class="dropdown-menu" id="userDropdownMenu" aria-labelledby="userMenu">
                            <li><a routerLink="account" routerLinkActive="active">
                                <mat-icon>account_circle</mat-icon>
                                Account</a></li>
                            <li><a routerLink="my-tracks" routerLinkActive="active">
                                <mat-icon>library_music</mat-icon>
                                My Tracks</a></li>
                            <li><a routerLink="favorites" routerLinkActive="active">
                                <mat-icon>favorite_border</mat-icon>
                                Favorites</a></li>
                            <li><a style="padding-left:12px;" class="logout-link" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
            <ng-template #login_register>
                <ul *ngIf="!user" class="nav navbar-nav navbar-right">
                    <li><a routerLink="register" routerLinkActive="active"><span
                            class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a routerLink="login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>
