<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="home">{{appTitle}}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNav" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="popular" routerLinkActive="active">Popular</a></li>
            </ul>
            <div *ngIf="user; then user_menu else login_register"></div>
            <ng-template #user_menu>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ngbDropdown>
                        <div ngbDropdownToggle id="userMenu" href="#">
                            {{user.name}}
                            <span class="caret"></span>
                        </div>
                        <ul ngbDropdownMenu class="dropdown-menu" id="userDropdownMenu" aria-labelledby="userMenu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
            <ng-template #login_register>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="!user"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li *ngIf="!user"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>
