.navbar{
    border-radius: 0;
}
@media (min-width: 1024px) {
    .navbar-nav {
        margin-left: 90px !important;
    }
}

nav{
    margin-bottom:0 !important;
    z-index: 1;
}

.navbar-brand{
    padding: 0 20px;
}

.navbar-brand img{
    width:104px;
    margin-top: 0;
    z-index: 9999;
}
@media (max-width: 768px){
    .navbar-brand img{
        width:101px;
        margin-top: 0;
        z-index: 9999;
    }
}


.navbar-brand span{
    position: absolute;
    top:18px;
    left:102px;
}

.navbar-nav{
}

.navbar-nav li a{
    text-align: center;
    border-bottom: 2px solid #222;
}

.navbar-nav li a{
    margin:0 10px;
    padding: 15px 15px;
    color: #c1c1c1;
}

.navbar-nav li .active{
    color: white;
    border-bottom: 2px solid red;
}

#userMenu{
    padding: 15px 30px;
    cursor: pointer;
    color: #c1c1c1;
}

#userMenu:hover{
    color: #fff;
}

#userDropdownMenu{
    left: 15px !important;
    background-color: #222;
}

#userDropdownMenu li{
    text-align: left;
}

#userDropdownMenu .mat-icon{
    height: 22px;
    width: 30px;
    font-size: 22px;
    float: left;
}

#userDropdownMenu li a{
    margin:0;
    padding: 10px;
    text-align: left;
}

#userDropdownMenu .active{
    border: 0;
}
#userDropdownMenu li:hover a{
    color: #222;
}

.logout-link{
    cursor:pointer;
}

.user-avatar-container{
    height:36px;
    width:36px;
    float: left;
    position:relative;
    right: 10px;
    top: -7px;
}

.user-avatar-img{
    width:100%;
    height:100%;
    border-radius: 50%;
}

